
<section>
<form id="post-form" class="post-form">
  <div class="newpost-wrap">
    <h6 class="form-title"> Create new Post </h6>
    <div>
    <input type="text" id="email-login" placeholder="post-title"/>
  </div>
  <div>
    <label for="contents"> {{post.contents}}</label>
    <input type="password" id="password-login"/>
  </div>
  <div>
    <button id="login-btn" type="submit">Create</button>
  </div>
  </div>
</form>
</div>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>