<form id="login-form">
  <div class="login-wrap">
    <h6 class="form-title"> Login </h6>
    <div>
    <input type="text" id="email-login" placeholder="email"/>
  </div>
  <div>
    <input type="password" id="password-login" placeholder="password"/>
  </div>
  <div>
    <button id="login-btn" type="submit">login</button>
  </div>
  </div>
</form>
</div>

<form id="login-form">
  <div class="login-wrap">
    <h6 class="form-title"> Sign-up </h6>
    <div>
    <input type="text" id="email-login" placeholder="email"/>
  </div>
  <div>
    <input type="password" id="password-login" placeholder="password"/>
  </div>
  <div>
    <button id="login-btn" type="submit">Sign-up</button>
  </div>
  </div>
</form>
</div>


<script src="/javascript/login.js"></script>